.main-footer {
  display: grid;
  grid-template-columns: 1fr max-content;
  background-color: #323232;
  padding: 15px 25px;
  & > .links {
    display: grid;
    line-height: 1.15;
    font-size: 0.8rem;
    & > * {
      padding: 0px;
    }
    & > .links-label {
      font-weight: 700;
      padding-bottom: 2px;
    }
  }
  & > .runefall {
    display: grid;
    justify-items: end;
    & > h2 {
      font-size: 1.5rem;
      font-weight: 700;
      padding-bottom: 2px;
    }
  }
}
